$font: 'Roboto', sans-serif;
$fontSize: calc(18px + (30 - 18) * (100vw - 400px) / (1920 - 400));
$border: solid 1px black;
$borderRadius: 5px;
$background: RGBA(47, 125, 90, 0.39);
$backgroundInput: RGBA(189, 104, 0, 0.53);
$backgroundButtoneDone: RGBA(46, 196, 0, 0.5);
$backgroundButtoneDelete: red;

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin: 0 auto;
    padding-top: 3rem;
    width: 100%;
    font-family: $font;
    font-size: $fontSize;

    a {
        text-decoration: none;
        color: #1976d2;
        font-size: calc(18px + (20 - 18) * (100vw - 400px) / (1920 - 400));


    }

    a:active {
        color: #1976d2;
    }
}

@media (max-width:600px) {
    #root {
        padding-top: 9rem;
    }
}