$font: 'Roboto', sans-serif;
$fontSize: calc(18px + (30 - 18) * (100vw - 400px) / (1920 - 400));
$border: solid 1px black;
$borderRadius: 5px;
$background: RGBA(47, 125, 90, 0.39);
$backgroundInput: RGBA(189, 104, 0, 0.53);
$backgroundButtoneDone: RGBA(46, 196, 0, 0.5);
$backgroundButtoneDelete: red;

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 0 auto;
    width: 100%;
    font-family: $font;
    font-size: $fontSize;

}